.login-container {
  font-family: 'Arial', sans-serif; /* Aplica la fuente Arial a todo el contenedor */
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 200px;
  height: auto;
}

h2 {
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif; /* Aplica Arial a los encabezados */
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Arial', sans-serif; /* Aplica Arial a las etiquetas */
}

.input-group input {
  font-family: 'Arial', sans-serif; /* Aplica Arial a los campos de texto */
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.error-message {
  font-family: 'Arial', sans-serif; /* Aplica Arial a los mensajes de error */
  color: red;
  margin-bottom: 15px;
}
