/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title-butt {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between; /* Espacia el título y el botón */

}

.title-butt h1 {
  flex: 1%; /* Ocupa el espacio restante del contenedor */
  text-align: center; /* Centra el texto horizontalmente */
  margin: 0; /* Elimina el margen predeterminado */
}

.title-butt button {
  flex: 0 0 10%; /* Ocupa el 10% del ancho del contenedor */
  padding: 12px 10px; /* Tamaño más pequeño del botón */
  font-size: 0.875em; /* Tamaño de fuente más pequeño */
  margin-right: 0; /* Elimina el margen alrededor del botón */
  border-radius: 4px; /* Bordes redondeados más sutiles */
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  margin: 30px;
}

/* Efecto de hover */
.title-butt button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

/* Efecto de foco */
.title-butt button:focus {
  outline: none; /* Quita el contorno predeterminado */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Agrega una sombra para accesibilidad */
}



/* Main y aside */
main {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px); /* Ajusta la altura para que sea el 100% del viewport menos el tamaño del header y el footer */
}

main > article {
  flex: 7; /* Ocupa el 70% del ancho */
}

main > aside {
  flex: 3; /* Ocupa el 30% del ancho */
}

/* Footer */
footer {
  width: 100%;
  text-align: center;
  padding: 10px;
}
