body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.card {
    min-width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    min-height: 200px; /* Asegura que las tarjetas tengan una altura mínima */
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr; /* Pasa a 1 columna en pantallas más pequeñas */
    }
}



.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.card:hover {
  transform: scale(1.02);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card-title {
  margin-top: 0;
}

.card-description {
  margin: 8px 0;
}

.card-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.card-date {
  margin: 4px 0;
}

.card-status {
  margin-top: 8px;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}



.actions{
  display: flex;
  justify-content: space-around;
  gap: 20px;
 

}

.actions svg {
  cursor: pointer;
  
} 
.delete-btn {
  color: #e10d05;
  margin: 1px;
}


.actions .icon-btn {
  font-size: 20px; /* Ajusta el tamaño del ícono */
  color: #333; /* Color por defecto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
  transition: color 0.3s ease, transform 0.3s ease; /* Animación suave */
}

.actions .icon-btn:hover {
  color: #007bff; /* Color al pasar el ratón (hover) */
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
}

.delete-btn:hover {
  color: red; /* Cambia el color a rojo específicamente para el botón de eliminar */
}
