body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px; /* Asegura que las tarjetas tengan una altura mínima */
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr; /* Pasa a 1 columna en pantallas más pequeñas */
    }
}



.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card-title {
  margin-top: 0;
}

.card-description {
  margin: 8px 0;
}

.card-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.card-date {
  margin: 4px 0;
}

.card-status {
  margin-top: 8px;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.card-actions {
  display: flex;
  gap: 8px;
}

.card-action-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  transition: color 0.3s;
}

.card-action-button:hover {
  color: #007bff;
}
